body{
    background-color: #2d3436;
    max-width: 100%;
    min-height: 100%;
    font-style: OpenSans;
}

.teat{
  position: relative;
  color: white;
  font-size: 200px;
  text-align: center;
  top: 500px;
}   

.input{
  position: relative;
  text-align: center;
}

.input1{
  width: 814px;
  height: 170px;
  font-size: 70px;
  border-radius: 13px;
}
/*First row*/
.first-row{
  position: relative;
  text-align: center;
  border-radius: 13px;
}

.button2{
  position: relative;
  text-align: center;
  width: 200px;
  height: 127px;
  margin: 5px 1px;
}

.button3{
  position: relative;
  text-align: center;
  width: 200px;
  height: 127px;
  margin: 5px 1px;
}

.button4{
  position: relative;
  text-align: center;
  width: 200px;
  height: 127px;
  margin: 5px 1px;
}

.button5{
  position: relative;
  text-align: center;
  width: 200px; 
  height: 127px;
  margin: 1px;
}

/*Second row*/

.second-row{
  position: relative;
  text-align: center;
  border-radius: 13px;
}

.button6{
  position: relative;
  text-align: center;
  width: 200px;
  height: 127px;
  margin: 1px 1px 5px;
}

.button7{
  position: relative;
  text-align: center;
  width: 200px;
  height: 127px;
  margin: 1px;
}

.button8{
  position: relative;
  text-align: center;
  width: 200px;
  height: 127px;
  margin: 1px;
}

.button9{
  position: relative;
  text-align: center;
  width: 200px; 
  height: 127px;
  margin: 1px;
}

/*Third row*/

.third-row{
  position: relative;
  text-align: center;
  border-radius: 13px;
}

.button10{
  position: relative;
  text-align: center;
  width: 200px;
  height: 127px;
  margin: 1px;
}

.button11{
  position: relative;
  text-align: center;
  width: 200px;
  height: 127px;
  margin: 1px;
}

.button12{
  position: relative;
  text-align: center;
  width: 200px;
  height: 127px;
  margin: 1px;
}

.button13{
  position: relative;
  text-align: center;
  width: 200px;
  height: 127px;
  margin: 1px;
}

/*Fourth row*/

.fourth-row{
  position: relative;
  text-align: center;
  border-radius: 13px;
}

.button14{
  position: relative;
  text-align: center;
  width: 200px;
  height: 127px;
  margin: 5px 1px;
}

.button15{
  position: relative;
  text-align: center;
  width: 200px;
  height: 127px;
  margin: 1px;
}

.button16{
  position: relative;
  text-align: center;
  width: 200px;
  height: 127px;
  margin: 1px;
}

.button17{
  position: relative;
  text-align: center;
  width: 200px;
  height: 127px;
  margin: 1px;
}